@model FinalTest.Models.Team
@{
    ViewData["Title"] = "Details";
}

<table border="2" cellpadding="30">
    <thead>
        <th>Team Name</th>
        <th>Players</th>

    </thead>
    <tbody>

        <tr>

            <td>
                <h2>@ViewData["Teamname"]</h2>
                <img src="~/Image/@Model.TeamImage">
            </td>
            <td>
                @foreach (var item in @Model.Players)
                {
                   
                        <ul>
                        <li><a asp-controller="Player" asp-action="Details" asp-route-id="@item.PlayerID">
                                <h4>@item.FullName</h4>
                            </a>(<span>Position:@item.Position</span>)
                            
                           <div style="margin-top: 20px;">
                            <a asp-controller="Player" asp-action="Edit" asp-route-id="@item.PlayerID" >Edit</a>
                            <a asp-controller="Player" asp-action="Delete" asp-route-id="@item.PlayerID" >Delete</a>
                            <a asp-controller="Player" asp-action="Details" asp-route-id="@item.PlayerID" >Details</a>
                           </div>
                            </li>
                            <hr/>
                    </ul>
                    
                    
                }
            </td>
        </tr>


    </tbody>
</table>
<a asp-action="Index" asp-controller="Team">Back To Teams</a>